<div class="cart-container">
  <div class="cart-header">
    <h3>Cart</h3>
  </div>

  <div class="cart-content">
    @if (cartService.cartItems().length === 0) {
    <div class="empty-cart">
      <p>Your cart is empty.</p>
    </div>
    } @else {
    <div class="cart-items">
      @for (item of cartService.cartItems(); track item.product.id) {
      <div class="cart-item">
        <div class="item-image">
          <img [src]="item.product.thumbnails[0]" [alt]="item.product.name" />
        </div>
        <div class="item-details">
          <p class="item-name">{{ item.product.name }}</p>
          <p class="item-price">
            ${{ item.product.price.toFixed(2) }} x {{ item.quantity }}
            <span class="total-price"
              >${{ (item.product.price * item.quantity).toFixed(2) }}</span
            >
          </p>
        </div>
        <button class="delete-button" (click)="removeItem(item.product.id)">
          <img src="assets/icon/icon-delete.svg" alt="Delete" />
        </button>
      </div>
      }

      <button class="checkout-button" (click)="checkout()">Checkout</button>
    </div>
    }
  </div>
</div>
