<div class="lightbox-backdrop" (click)="closeModal($event)">
  <div class="lightbox-container">
    <div class="close-button" (click)="close.emit()">
      <img src="assets/icon/icon-close.svg" alt="Close" />
    </div>

    <div class="main-image">
      <img
        [src]="images[selectedIndex()]"
        [alt]="'Product image ' + (selectedIndex() + 1)"
      />

      <button class="nav-button prev" (click)="previousImage()">
        <img src="assets/icon/icon-previous.svg" alt="Previous" />
      </button>

      <button class="nav-button next" (click)="nextImage()">
        <img src="assets/icon/icon-next.svg" alt="Next" />
      </button>
    </div>

    <div class="thumbnails">
      @for (thumbnail of thumbnails; track $index) {
      <div
        class="thumbnail"
        [class.active]="$index === selectedIndex()"
        (click)="selectImage($index)"
      >
        <img [src]="thumbnail" [alt]="'Thumbnail ' + ($index + 1)" />
      </div>
      }
    </div>
  </div>
</div>
